.container {
  display: flex;
  flex-direction: row;
}

.sigant {
  display: inline;
  font-size: 55px;
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
  
}

.icon{
  color: grey;
  }
